@use '/src/styles/variables' as vars;
@use '/src/styles/utils' as utils;

.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin-bottom: 8px;
    font-weight: vars.$font-semibold;
}

.description {
    flex-grow: 1;
    margin-bottom: 16px;

    &.hasDetails {
        display: grid;
        grid-template-columns: 1fr 400px;
        gap: 16px;

        @media (max-width: vars.$breakpoint-large) {
            grid-template-columns: 1fr 300px;
        }

        @media (max-width: vars.$breakpoint-medium) {
            display: flex;
            flex-direction: column;
        }
    }
}
